@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.woff?7qy8le') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.arr-down:before {
  content: "\e900";
}
.arr-left:before {
  content: "\e901";
}
.arr-right:before {
  content: "\e902";
}